.all {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #10b1a1 50%, #10b1a1 100%);
}

.logo {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 350px;
    position: absolute;
    left: 12%;
    top: 10%;
}

.hand {
    position: absolute;
    top: 70%;
    right: 20%;
    z-index: 1;
}

.hand svg {
    color: rgb(255, 255, 255);
    font-size: 100px;
    
}
#poster{
    height: 100vh;
    background-color: #e0e0e0;
    position: relative;
}
#poster img{
    height: 100vh;
    position: absolute;
}
.navbar-wrapper {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 20rem;
    height: 20rem;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(0) rotate(-180deg);
    transition: transform .5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 43%;
    right: 12%;
}
#navbar{
    top: 28%;
    right: 7%;
}
.change .navbar {
    transform: scale(1) rotate(0);
}

.navbar-link {
    position: absolute;
}

.navbar-link svg {
    font-size: 3rem;
    color: #10b1a1;
    transition: color 0.3s;
}

.navbar-link:hover svg {
    color: #0c776c;
}

.navbar-link:nth-child(1) {
    top: 2rem;
}

.navbar-link:nth-child(2) {
    top: 5rem;
    right: 2rem;
}

.navbar-link:nth-child(3) {
    bottom: 5rem;
    right: 2rem;
}

.navbar-link:nth-child(4) {
    bottom: 2rem;
}

.navbar-link:nth-child(5) {
    bottom: 5rem;
    left: 2rem;
}

.navbar-link:nth-child(6) {
    top: 5rem;
    left: 2rem;
}

.navbar-btn {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 60%;
    right: 20%;
}

.navbar-btn {
    font-size: 2rem;
    color: #fff;
    transition: transform 0.5s;
}

.change .navbar-btn svg {
    transform: rotate(45deg);
}
#post{
    top: 45%;
    right: 15%;
}
.contact{
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #282828;
    bottom: 3%;
    left: 4%;
    font-size: 20px;
}
.contact svg{
    margin-right: 15px;
}
@media(max-width:575px) {
    .logo img {
        width: 250px;
        left: 10%;
        top: 10%;
    }
    .navbar{
        width: 15rem;
        height: 15rem;
    }
    .navbar-link svg{
        font-size: 2rem;
    }
    .navbar{
        top: 48%;
        right: 6%;    }
        .navbar-btn {
            position: absolute;
            width: 5.5rem;
            height: 5.5rem;
        }
        .navbar-link:nth-child(1) {
            top: 1.5rem;
        }
        
        .navbar-link:nth-child(2) {
            top: 4rem;
            right: 2rem;
        }
        
        .navbar-link:nth-child(3) {
            bottom: 4rem;
            right: 1.5rem;
        }
        
        .navbar-link:nth-child(4) {
            bottom: 1.5rem;
        }
        
        .navbar-link:nth-child(5) {
            bottom: 4rem;
            left: 1.5rem;
        }
        
        .navbar-link:nth-child(6) {
            top: 4rem;
            left: 1.5rem;
        }
        .hand svg{
            font-size: 75px;
        }
        #poster {
            background: linear-gradient(100deg, #10b1a1 40%, #10b1a1 60%, 60%, #e0e0e0 100%);
        }
        #poster img{
            width: 100vw;
            height: auto;
        }
        .contact{
            bottom: 50%;
            left: 5%;
            font-size: 10px;
        }
        #post{
            top: 45%;
            right: 15%;
        }
        #navbar{
            top: 58%;
            left: 25%;
            width: 14rem;
            height: 14rem;
        }
        #post{
           top: 70%;
           left: 40%;
        }

}